<!--
/views/start.erb
- called by "get '/' do" in app.rb
- mainly a placeholder, root page populated via layout.erb for reuse
 -->

<div class="row">
  <h3>Please enter a letter:</h3>
  <form method="post" action="guess">  <!-- action ~ "post '/guess' do" in app.rb -->
    <input type="text" name="letter">  <!-- text == string, name ~ "@num = params[:letter]" in app.rb -->
    <input type="submit" value="Enter">  <!-- button to submit letter to "post '/guess' do" route for evaluation -->
  </form>
</div>