/*
/public/styles.css
- CSS styles for Hangman app
*/

input {
  font-family: Courier;
}

body {
  background-color: #000000;
  font-family: Courier;
  color: #ffffff;
}

div {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

pre {
  font-family: Courier;
}

.image {
  height: 163px;
  width:  300px;
}

.row {
  display: table;
  padding: 5px 0px 5px 0px;
}

.column {
  display: table-cell;
  vertical-align: bottom;
  width: 425px;
}

.copyright {
  position: fixed;
  bottom: 0;
}
