/*
/public/styles.css
- CSS styles for Hangman app
*/

body {
  background-color: #000000;
  font-family: Courier;
  color: #ffffff;
}

div {
  display: table;
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  text-align: center;
}

form {
  margin-left: 25%;
  color: #000000;
}

input {
  font-family: Courier;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.padding {
  padding-top: 10px;
}

.image {
  height: 163px;
  width:  325px;
}

/*.copyright {
  position: absolute;
  bottom: 0;
  left: 47%;
}*/